/**
 * Header cart
 */
.cart-col {
	display: flex;
	align-items: center;
	justify-content: center;

	i {
		@include font-size(1.2);
		line-height: 1;
		@include prefix( transition, all 0.3s ease-in-out, webkit moz o);
		@include prefix( text-shadow, 1px 1px 2px rgba( #000, 0.9 ), webkit moz o );
	}

	.badge {
		position: relative;
		top: -8px;
		margin-left: 4px;
		@include prefix( text-shadow, 1px 1px 2px rgba( #000, 0 ), webkit moz o );
		@include prefix( box-shadow, 0 1px 6px 0 rgba(#000, 0.5), webkit moz o );
	}
}

/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;

	&:before {
		content: "\53\53\53\53\53";
		opacity: .25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span:before {
		content: "\53\53\53\53\53";
		top: 0;
		position: absolute;
		left: 0;
		color: $color__link;
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: "star";
			content: "\53";
			color: $color__text-main;
			text-indent: 0;
			opacity: .25;
		}

		&:hover {
			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}
	}

	&:hover {
		a {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}

			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}

		a:not(.active) {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}
		}
	}
}

/**
 * Tabs
 */
.woocommerce-tabs {
	ul.tabs {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;

		li {
			display: block;
			margin: 0;
			position: relative;

			a {
				padding: 1em 0;
				display: block;
			}
		}
	}

	.panel {
		h2:first-of-type {
			margin-bottom: 1em;
		}
	}
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: $woocommerce__color-success;
	}

	&.short {
		color: $woocommerce__color-error;
	}

	&.bad {
		color: $woocommerce__color-error;
	}

	&.good {
		color: $woocommerce__color-info;
	}
}

/**
 * Forms
 */
.form-row {
	&.woocommerce-validated {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-success;
		}
	}

	&.woocommerce-invalid {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-error;
		}
	}
}

.required {
	color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	@include clearfix;
	background-color: $woocommerce__color-success;
	clear: both;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
	background-color: $woocommerce__color-info;
}

.woocommerce-error {
	background-color: $woocommerce__color-error;
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	background-color: $woocommerce__color-info;
	z-index: 9999;
}

.archive {

	#primary {
		margin-top: 199px;
		padding: 15px 15px 65px;
		width: 100%;

		#main {
			width: 100%;
		}

		#secondary {
			width: 100%;
		}
	}


	@include media-breakpoint-up( md ) {
		#primary {
			width: 100%;
			
			#main {

			}

			#secondary {
				width: 29%;
			}
		}

	}
}

.woocommerce {

	.wp-post-image {
		max-width: 125px;
		padding: 0;
	}
}

.page-template-accounts-page {
	
	.woocommerce {
		background: rgba( 0, 0, 0, .7);
		min-width: 70%;
		padding: 30px;
		border-radius: 8px;
		border: 1px solid rgba( 255, 255, 255, .4);

		.wp-post-image {
			max-width: 125px;
			padding: 0 15px;
		}
	}
}

.woocommerce-page {

	.woocommerce-info {
		margin: 15px 0;
		padding: 4px 8px;
	}

	.select2-dropdown {
		color: #333333;
	}

	form {

			
		label {
			width: 100%;
		}

		span {
			width: 100%;
		}
	}

	button, a {

		&.button {
			display: inline-block;
		    font-weight: 400;
		    text-align: center;
		    white-space: nowrap;
		    vertical-align: middle;
		    -webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		    border: 1px solid transparent;
		    padding: .375rem .75rem;
		    font-size: 1rem;
		    line-height: 1.5;
		    border-radius: .25rem;
		    color: #fff;
		    background-color: #007bff;
		    border-color: #007bff;
		    @include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), o moz webkit );
		    @include prefix( transition, all .3s ease-in-out, o moz webkit );

		    &:hover {
	    	    background-color: #0069d9;
	    	    border-color: #0062cc;
	    	}
		}
	}

	.content-module {
		width: 75%;

		.cart_item {
			padding: 8px;
		}
	}

	#primary {
		margin-top: 199px;
		padding: 15px 15px 65px;
		width: 100%;

		#main {
			width: 100%;

			.columns-3 {

				&.products {
					margin-top: 25px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					flex: .5 .5 50%;

					.product {
						padding: 15px;

						img {
							margin-bottom: 15px;
						}
					}
				}

				.page-item {

					.page-link {

						&:visited {
							color: #007bff;
						}
					}

					&.active {
						.page-link {

							&:visited {
								color: #ffffff;
							}
						}						
					}
				}
			}
		}

		#secondary {
			width: 100%;
		}
	}


	@include media-breakpoint-up( md ) {
		#primary {
			width: 100%;
			
			#main {

			}

			#secondary {
				width: 29%;
			}
		}

	}
}
/*=====================================
=            Checkout page            =
=====================================*/
.woocommerce-checkout {

	.content-module {

		@include media-breakpoint-up( md ) {
			width: 50%;
		}
	}

	form {

		.span-this {
			justify-content: space-between;
			display: inline-flex;
			margin-right: 15px;
		}

		.span-this-2 {
			width: 15.3%;
		}

		.span-this-4 {
			width: 32.2%;
		}

		.span-this-8 {
			width: 65.2%;
		}

		.select2-container--default {

			.select2-selection--single {
				height: 32px;
			}
		}
	}

	.form-check {

		input {
			margin-right: 15px;
		}

		label {

			span {
				width: unset;
			}
		}
	}

	#payment {

		button {
			margin-top: 15px;
		}
	}
}
/*=====  End of Checkout page  ======*/


/*=================================
=            Cart page            =
=================================*/
.woocommerce {

	.woocommerce-cart-form__contents {

		.wp-post-image {
			padding: 15px;
		}
	}
}

.cart-collaterals {
	width: 100%;
	float: none;
    @include prefix( transition, all .3s ease-in-out, o moz webkit );

	.checkout-button {
		width: 100%;
    	@include prefix( transition, all .3s ease-in-out, o moz webkit );
	}

	@include media-breakpoint-up( md ) {
		width: 33%;
		float: right;
	}
}
/*=====  End of Cart page  ======*/



@media screen and (min-width: 48em) {
	/**
	 * Header cart
	 */
	.site-header-cart {
		.widget_shopping_cart {
			position: absolute;
			top: 100%;
			width: 100%;
			z-index: 999999;
			left: -999em;
			display: block;
			@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), o moz webkit );
		}

		&:hover,
		&.focus {
			.widget_shopping_cart {
				left: 0;
				display: block;
			}
		}
	}
}
