/**
 * Single Product
 */
.single-product {
	div.product {
		@include clearfix;
		position: relative;
		width: 100%;

		.woocommerce-product-gallery {
			position: relative;
			width: 100%;
			float: none;
			@include prefix( transition, all .3s ease-in-out, o moz webkit );

			.woocommerce-product-gallery__trigger {
				position: absolute;
				top: 1em;
				right: 1em;
				display: block;
				z-index: 99;
			}

			.flex-viewport {
				margin-bottom: 1em;
			}

			.flex-control-thumbs {
				@include clearfix;
				margin: 0;
				padding: 0;

				li {
					list-style: none;
					cursor: pointer;
					float: left;

					img {
						opacity: .5;

						&.flex-active {
							opacity: 1;
						}
					}

					&:hover {
						img {
							opacity: 1;
						}
					}
				}
			}

			@for $i from 2 through 5 {
				&.woocommerce-product-gallery--columns-#{$i} {
					.flex-control-thumbs {
						li {
							@include column-width($i);

							&:nth-child(#{$i}n) {
								margin-right: 0;
							}

							&:nth-child(#{$i}n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}

		.entry-summary {
			position: relative;
			width: 100%;
			float: none;
			@include prefix( transition, all .3s ease-in-out, o moz webkit );

			.cart {
				display: flex;
			    align-items: center;

			    .input-text {
			    	
			    	&.qty {
			    		width: 50px;
			    		line-height: 1.9;
			    		border-radius: .25rem 0 0 .25rem;
			    		@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), o moz webkit );
			    	}
			    }

			    button {
			    	margin-left: -1px;
		    		@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), o moz webkit );
			    }
			}
		}

		.woocommerce-tabs {
			position: relative;
			width: 100%;

			.tabs {

				.nav-item {
					background: linear-gradient(180deg, #FCFC0D 20%, #B2B20F 70%);
					border-radius: .25rem .25rem 0 0;
					margin-right: 2px;
					font-weight: 300;
					@include prefix( transition, all .2s ease-in-out, o moz webkit );

					.nav-link {
						padding: 8px 15px;
						color: #333333;
					}

					&.active {
						font-weight: 700;
						background: linear-gradient(180deg, #B2B20F 20%, #FCFC0D 70%);
					}
				}
			}

			.woocommerce-Tabs-panel {
				flex-direction: column;
				align-items: flex-start;

				input[name=submit] {
					font-family: $font__main;
					@include font-size(1);
					font-style: italic;
					font-weight: 700;
					color: #fff;
					padding: 4px 1rem;
					border: 1px solid #fff;
					background: linear-gradient(180deg, #EE2D27 20%, #771714 70%);
					@include prefix( transition, all 0.3s ease-in-out, webkit moz o);
					@include prefix( box-shadow, 0 1px 6px 0 rgba(#000, 0.8), webkit moz o);
					@include prefix( text-shadow, 0 0 0 rgba(#000, 0), webkit moz o);
					&:hover {
						border-color: #f2ff99;
						color: #f2ff44;
						@include prefix( text-shadow, 1px 1px 2px rgba(#000, 1), webkit moz o);
					}
					@include media-breakpoint-up( sm ) {
						@include font-size(1.2);
					}
					@include media-breakpoint-up( md ) {
						@include font-size(1.4);
					}
				}
			}
		}

		@include media-breakpoint-up( md ) {

			.woocommerce-product-gallery {
				width: 69%;
				float: left;
			}

			.entry-summary {
				width: 29%;
				float: right;
			}

			.woocommerce-tabs {
				width: 69%;
				float: left;
			}
		}
	}
}

.stock {
	&:empty:before {
		display: none;
	}

	&.in-stock {
		color: $woocommerce__color-success;
	}

	&.out-of-stock {
		color: $woocommerce__color-error;
	}
}
