/**
 * Shop tables
 */
table.shop_table_responsive {
	thead {
		display: none;
	}

	tbody {
		th {
			display: none;
		}
	}

	tr {
		td {

			&:before {
				content: attr(data-title) ': ';
				float: left;
			}

			&.product-remove {

				a {
					text-align: left;
				}

				&:before {
					display: none;
				}
			}

			&.product-thumbnail {

				a {
					padding: 15px;
				}
			}

			&.actions,
			&.download-actions {
				&:before {
					display: none;
				}
			}

			&.download-actions {
				.button {
					display: block;
					text-align: center;
				}
			}

			&.product-quantity {

				.quantity {

					.input-text {

						&.qty {
							margin: auto;
							width: 50px;
							
						}
					} 
				}
			}

			&.actions {

				.action-btns {
					display: flex;
					align-items: center;
					justify-content: space-between;

					.coupon {
						display: flex;
						align-items: center;
						justify-content: center;

						input {
							line-height: 1.9;
							border-radius: .25rem 0 0 .25rem;
						}

						button {
							margin-left: -2px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 48em) {
	table.shop_table_responsive {
		thead {
			display: table-header-group;
		}

		tbody {
			th {
				display: table-cell;
			}
		}

		tr {
			th, td {
				text-align: left;
			}

			td {
				display: table-cell;

				&:before {
					display: none;
				}
			}
		}
	}
}
