body,
button,
input {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

select,
textarea,
optgroup {
	color: #d60117;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

.bold {
	font-weight: 700;
}

@import "headings";

@import "copy";
