ul, ol {
	margin: 0;
	@include clear-webkits(0, margin-before margin-after margin-start margin-end padding-start);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: .5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
