.row-w-nav {
	position: relative;
	margin-top: 3px;
	.menu-bar {
		margin-left: -15px;
		background: linear-gradient(128deg, #FCFC0D 0%, #B2B20F 100%);
		@include prefix(transform, skew(-25deg), webkit moz o );
		#site-navigation {
			padding-left: 25px;
			@include prefix(transform, skew(25deg), webkit moz o );
		}
	}
}

.main-navigation {
	clear: both;
	display: inline-block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding: 5px;
		text-align: justify;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
				text-decoration: underline;
			}

			a:hover,
			a.focus {
				text-decoration: underline;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			text-decoration: underline;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: #000;
		font-family: $font__main;
		font-weight: 800;
		font-style: italic;
		font-size: 24px;
		text-transform: uppercase;
		padding: 0 24%;
		@include prefix( transition, all 0.2s ease-in-out, webkit moz o);
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		text-decoration: underline;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		text-align: justify;
		display: inline-block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
