.row-w-nav {
	position: relative;
	margin-top: 0;
	.menu-bar {
		margin-left: -15px;
		#site-navigation {
		}
	}
	@include media-breakpoint-up( md ) {
		margin-top: 3px;
		height: 2rem;
		.menu-bar {
			display: flex;
			margin-left: -15px;
			align-items: center;
			justify-content: center;
			background: linear-gradient(180deg, #FCFC0D 20%, #B2B20F 70%);
			@include prefix(transform, skew(-25deg), webkit moz o );
			#site-navigation {
				@include prefix(transform, skew(25deg), webkit moz o );
			}
		}
	}
	@include media-breakpoint-up( lg ) {
		height: 2.2rem;
	}
	@include media-breakpoint-up( xl ) {
		height: 2.8rem;
	}
}


.main-navigation {
	clear: both;
	display: inline-block;
	width: 50%;
	button {
		position: absolute;
		top: -1.2rem;
    margin-top: -2.2rem;
		height: 2.2rem;
		background: transparent;
		border: none;
		z-index: 100;
		.hang-a-bur {
			position: relative;
			display: block;
			width: 24px;
			height: 3px;
			margin: 5px 0;
			opacity: 1;
			background: #FCFC0D;
			@include prefix( transition, all 0.2s ease-in-out, webkit moz o);
			&-top {
				top: 0;
			}
			&-bottom {
				bottom: 0;
			}
		}
		&[aria-expanded="true"] {
			.hang-a-bur-top {
				top: 0.5rem;
				@include prefix( transform, rotate(220deg), webkit moz o );
			}
			.hang-a-bur-mid {
				opacity: 0;
			}
			.hang-a-bur-bottom {
				bottom: 0.5rem;
				@include prefix( transform, rotate(-220deg), webkit moz o );
			}
		}
		&:focus {
			outline: 0;
		}
	}
	ul {
		display: block;
		list-style: none;
		margin-left: 15px;
		padding: 0;
		height: 0;
		top: 0;
		overflow: hidden;
		background: #f8f856;
		@include clear-webkits(0, margin-start margin-end margin-before margin-after padding-start);
		@include prefix( transition, all 0.2s ease-in-out, webkit moz o);
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
				text-decoration: none;
				&:after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					height: 3px;
					width: 100%;
					background: #000;
				}
			}

			a:hover,
			a.focus {
				text-decoration: none;
				&:after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					height: 3px;
					width: 100%;
					background: #000;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		bottom: 0;
		@include prefix( transition, all 0.2s ease-in-out, webkit moz o);
		&:nth-child(2n) {
			background: #f6f60d;
		}
		&:hover > a,
		&.focus > a {
			text-decoration: none;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				height: 3px;
				width: 100%;
				background: #000;
			}
		}
	}

	a {
		position: relative;
		display: inline-block;
		text-decoration: none;
		color: #000;
		font-family: $font__Arvo;
		font-weight: 800;
		@include font-size(1);
		text-transform: uppercase;
		text-decoration: none;
		margin-left: 15px;
		box-sizing: border-box;
		@include prefix( transition, all 0.2s ease-in-out, webkit moz o);
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 0;
			width: 100%;
			background: #000;
			@include prefix( transition, all 0.2s ease-in-out, webkit moz o);
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 3px;
			width: 100%;
			background: #000;
		}
	}
	@include media-breakpoint-up( sm ) {
		button {
	    top: -2.2rem;
		}
	}
	@include media-breakpoint-up( md ) {
		width: 100%;
		ul {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: inherit;
			background: none;
		}

		li {
			&:first-child {
				margin-left: 1.5rem;
			}
			&:nth-child(2n) {
				background: transparent;
			}
			&:hover > a,
			&.focus > a {
			}
		}

		a {
			font-family: $font__main;
			@include font-size(.9);
			font-style: italic;
			padding: .3rem 0;
		}
	}
	@include media-breakpoint-up( lg ) {
		width: 100%;
		ul {
		}
		li {
			&:first-child {
				margin-left: 2rem;
			}
		}
		a {
			@include font-size(1.2);
			padding: .24rem 0;
		}
	}
	@include media-breakpoint-up( xl ) {

		ul {
		}
		a {
			@include font-size(1.5);
			padding: .24rem 0;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	height: 156px;
}

@include media-breakpoint-up( md ) {
	.menu-toggle {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.search-col {
	position: absolute;
	height: 2rem;
	display: flex;
	justify-content: flex-end;
	@include prefix( transition, all 0.3s ease-in-out, webkit moz o);
	.search-form {
		display: flex;
		width: 60%;
		justify-content: flex-end;
		@include prefix( transition, all 0.3s ease-in-out, webkit moz o);
		label {
			display: flex;
			justify-content: flex-end;
			margin: 0 10px;
			padding: 0;
			float: right;
			width: 100%;
			.search-field {
				width: 0%;
				padding: 0 10px;
				height: 2rem;
				background: rgba( #fff, 0.6);
				border-radius: 0;
				border: 1px solid rgba(#000, 0.3);
				opacity: 0;
				@include prefix( transition, all 0.3s ease-in-out, webkit moz o);
				&:focus {
					opacity: 1;
					outline: 0;
					width: 100%;
				}
				&:focus + i {
					color: #000;
					text-shadow: none;
				}
			}
			i {
				position: absolute;
				right: 1rem;
				top: -3.3rem;
				float: right;
				color: #fff;
				@include font-size(1.5);
				font-weight: 200;
				line-height: 1;
				@include prefix( transition, all 0.3s ease-in-out, webkit moz o);
				@include prefix( text-shadow, 1px 1px 2px rgba( #000, 0.9 ), webkit moz o );
			}
		}
	}
	@include media-breakpoint-up( sm ) {
		.search-form {
			width: 80%;
			label {
				i {
					top: -3.5rem;
				}
			}
		}
	}
	@include media-breakpoint-up( md ) {
		position: relative;
		.search-form {
			width: 100%;
			label {
				display: flex;
				align-items: center;
				i {
					top: initial;
					right: 2.5rem;
				}
			}
		}
	}
	@include media-breakpoint-up( lg ) {
		height: 2.2rem;
		.search-form {
			label {
				.search-field {
					height: 2.2rem;
				}
			}
		}
	}
	@include media-breakpoint-up( xl ) {
		height: 2.8rem;
		.search-form {
			label {
				.search-field {
					height: 2.8rem;
				}
			}
		}
	}
}