.sticky {
	display: block;
}

.row-w-logo {
	position: relative;
	margin-top: 25px;
	z-index: 100;
	.blk-bar {
		position: relative;
		height: 100px;
		margin-left: -25px;
		background: #000;
		@include prefix(transform, skew(-25deg), webkit moz o );
		.site-branding {
			position: absolute;
			display: inline-block;
			height: 100px;
			margin-left: 45px;
			align-self: center;
			top: 0;
			width: 100%;
			color: #fff;
			@include prefix(transform, skew(25deg), webkit moz o );
			.row-of-brand {
				position: relative;
				top: -10px;
				.logo-div {
					position: relative;
					.custom-logo-link {
						position: relative;
					}
				}
				.site-title {
					position: relative;
					align-self: center;
					a {
						color: #fff;
						font-family: $font__main;
						text-transform: uppercase;
						font-weight: 800;
						font-style: italic;
						font-size: 45px;
						line-height: 0.6;
						@include prefix( transition, all 0.3s ease-in-out, webkit moz o );
						&:hover , &:focus, &:active {
							color: #ee2d27;
							text-decoration: none;
						}
					}
				}
				.score-board, .bottom-first {
					position: relative;
					align-self: center;
					text-align: center;
					color: #fff;
					font-family: $font__Swis721Blk;
					text-transform: uppercase;
					font-weight: 800;
					font-style: italic;
					font-size: 70px;
					line-height: 1.5;
					overflow: hidden;
					&:before {
						content: "";
						position: absolute;
						align-self: center;
						top: 0;
						left: 20px;
						height: 100%;
						width: 3px;
						background: #fff;
						@include prefix(transform, skew(-25deg), webkit moz o );
					}
					.bottom-inning {
						color: #FCFC0D;
						padding-left: 15px;
						font-size: 45px;
					}
				}
			}
		}
	}
	.hour-number {
		text-align: right;
		font-size: 32px;
		font-weight: 800;
		font-style: italic;
	}
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#page {
	> footer {
		position: absolute;
		padding: 25px;
		color: #fff;
		background: linear-gradient(-214deg, #343333 0%, #636262 100%);
		top: 100%;
		width: 100%;
	}
}